.container {
  height: 100vh;
  display: grid;
  /* 이렇게 하면 grid안의 grid에서 overflow scroll이 되지 않고 전체 width가 길어진다. */
  /* grid-template-columns: 1fr; */
  grid-auto-columns: 100%;
  grid-template-rows: minmax(100px, 1fr) 5fr minmax(100px, 1fr);
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f5;
}

header {
  padding-left: 3rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700
}

header button {
    font-size: 2rem;
    margin-right: 1rem;
  }

header button:hover {
    cursor: pointer;
  }

main {
  padding: 1rem 0 4rem 4rem
}

main .grid {
    padding-bottom: 1rem;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1.5rem;
    grid-auto-columns: 250px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-left: 0.3rem; /*그림자때문*/
  }

main article {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }

main article .grid__img {
      background-size: cover;
      background-position: center center;
    }

main article .grid__desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem
    }

main article .grid__desc h3 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

main article .grid__desc span {
        font-weight: 500;
        text-align: center;
      }

footer {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 3rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center
}

footer button {
    font-size: 1rem;
    font-weight: 600;
  }

footer i {
    color: #aaa;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

.grid article:nth-child(1) .grid__img {
    background-image: url(https://images.unsplash.com/photo-1458310336304-9b584acc9b58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  }

.grid article:nth-child(2) .grid__img {
    background-image: url(https://images.unsplash.com/photo-1480332815230-946779a1f39b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  }

.grid article:nth-child(3) .grid__img {
    background-image: url(https://images.unsplash.com/photo-1542725172-471c8d96916a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  }

.grid article:nth-child(4) .grid__img {
    background-image: url(https://images.unsplash.com/photo-1547931750-bf590ec479b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  }

.grid article:nth-child(5) .grid__img {
    background-image: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  }

.grid article:nth-child(6) .grid__img {
    background-image: url(https://images.unsplash.com/photo-1549816726-4d11db08e745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  }


/*# sourceMappingURL=/styles.420d6c65.css.map */