:root {
  --colorMain: #34495e;
  --colorSub: #95a5a6;
}

body {
  color: var(--colorMain);
  background-color: #ecf0f1;
}

header {
  padding: 2rem;

  & h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .8rem;
  }

  & h2 {
    text-decoration: underline;
    font-size: 0.9rem;
    color: var(--colorSub);
  }
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 20vw));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  grid-auto-rows: 1px;

  & article img {
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid var(--colorMain);
  }
}
