header {
  padding: 2rem;
  padding-left: 5rem;
  display: flex;
  justify-content: space-between;

  & button {
    font-size: 1rem;
    width: 5rem;
  }
}

.bigimage {
  width: 100%;
  margin-left: 2rem;
  height: 50vh;
  background-image: url(https://images.unsplash.com/photo-1516443908743-4e6597970510?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 9rem;
  font-weight: 600;
  letter-spacing: 3rem;
}

.blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, 1fr);
  grid-gap: 2rem;

  & article {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #888;
  }

  & .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
  }

  /*ref: https://www.abeautifulsite.net/css-drop-caps */
  & .contet {
    word-wrap: break-word;
    word-break: break-all;
  }

  & .content::first-letter {
    font-size: 3rem;
    float: left;
    margin-top: .28em;
    margin-right: .2em;
    margin-bottom: .2em;
  }

  & article:nth-child(2n) .image {
    background-image: url(https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  }

  & article:nth-child(4n) .image {
    background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
  }
}
